<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= quizName %> - Quiz</title>
</head>
<body>
    <h1><%= quizName %> Quiz</h1>
    <p>Please answer the questions below to the best of your knowledge.</p>
    
    <form action="/quiz/submit" method="POST">
        <% for (let index = 0; index < questions.length; index++) { %>
            <div class="question-block">
                
                <p><%= index + 1 %>. <%= questions[index].question %></p>

                <!--options for each index-->
                <% for (let i = 0; i < questions[index].options.length; i++) { %>
                    <label>
                        <input type="radio" name="answers[<%= index %>]" value="<%= i %>" required>
                        <%= questions[index].options[i] %>
                    </label>
                <% } %>
            </div>
            <br>
        <% } %>
        
        <button type="submit">Submit</button>
    </form>

</body>
</html>