<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= quizName %> - Quiz</title>
</head>
<body>
    <h1><%= quizName %> Quiz</h1>
    <p>Please answer the questions below to the best of your knowledge.</p>
    
    <form action="/quiz/submit" method="POST">
        <!-- Passing the quiz_id to the server-->
        <input type="hidden" name="quizId" value="<%= quizId %>">
    
        <% questions.forEach((q, index) => { %>
            <div>
                <p><%= index + 1 %>. <%= q.question %></p>
                <% q.options.forEach((option, i) => { %>
                    <label>
                        <input type="radio" name="answers[<%= index %>]" value="<%= i %>" required>
                        <%= option %>
                    </label><br>
                <% }); %>
            </div>
        <% }); %>
        <button type="submit">Submit</button>
    </form>

</body>
</html>