<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= quizName %> - Quiz</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="quiz-container">
        <h1><%= quizName %> Quiz</h1>
        <p>Please answer the questions below to the best of your knowledge.</p>
        
        <form action="/quiz/submit" method="POST">
            <!-- Hidden input fields to pass quiz information to the server -->
            <!-- Passing the quiz_id to the server-->
            <input type="hidden" name="quizId" value="<%= quizId %>">
            <input type="hidden" name="quizName" value="<%= quizName %>">
        
            <!-- Looping over each question in the 'questions' array -->
            <% questions.forEach((q, index) => { %>
                <div class="question-container">
                    <!-- Display the question text, dynamically inserted with the index --> 
                    <p><%= index + 1 %>. <%= q.question %></p>
                    
                    <!-- Looping over the options for the current question -->
                    <% q.options.forEach((option, i) => { %>
                        <label>
                             <!-- Radio button for each option, allowing the user to select one answer -->
                            <!-- 'answers[index]' groups the options for the same question together -->
                            <!-- The value of the radio button corresponds to the option index -->
                            <input type="radio" name="answers[<%= index %>]" value="<%= i %>" required>
                            <!-- Display the option text -->
                            <%= option %>
                        </label>
                    <% }); %>
                </div>
            <% }); %>
            <!-- Submit button to send the form data to the server -->
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>